body {
    background-color: #01012b;
    color: #05d9e8;
    font-family: "Dosis", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button {
    background-color: #01012b;
    border: 2px solid #ff2a6d;
    border-radius: 4px;
    color: #05d9e8;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
}

.passo {
    display: none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
    max-width: 90%;

}

img {
    max-width: 80%;
}